    <div class="text-center">

		<h2>Login</h2>
	</div>
    <form role="form"  ng-submit="autenticar()">
    <span class="entypo-user inputUserIcon"></span>
    <input  type="email" class="form-control input-lg" placeholder="Email" ng-model="email" required="required"/><br />
    <span class="entypo-key inputPassIcon"></span>
    <input type="password" class="form-control input-lg" placeholder="Senha" ng-model="senha" required="required"/><br />
    <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
   </form><br />
   <a class="centro" ng-href="#/cad-usuario">Cadastre-se</a>


<!-- <div class="row navbar navbar-fixed-bottom"> -->
<!--   <div class="col-xs-6">.col-xs-6</div> -->
<!--   <div class="col-xs-6">.col-xs-6</div> -->
<!-- </div> -->


